.list {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.listItem {
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
    background: #333;

    &:hover {
        color: var(--fc-primary);
    }
}

.empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}