.tabsLayoutContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tabsList {
    height: 60px;
    width: 100%;
    background: var(--fc-on-bottom-sheet);
}

.tabsInner {

}