.outcome {
    flex: 1;
    padding: 8px 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #333;
    color: var(--fc-text-secondary);
}

.name {
    padding: 8px;
    width: 100%;
    text-align: center;
    color: var(--fc-text-primary);
    border-bottom: 1px solid var(--fc-text-secondary);
}

.value {
    font-size: 22px;
    font-weight: 600;
    color: var(--fc-primary);
}