.outcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-weight: 700;
    width: 100%;
    text-align: center;
    color: var(--fc-text-primary);
    border-bottom: 1px solid var(--fc-text-secondary);
}

.inputValue {
    border-radius: 4px;
    padding: 4px;
}